.table-name {
    text-align: center;
  }
  
.weather-table {
  width: 100%;
  border-collapse: collapse;
}

.weather-table th,
.weather-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.weather-table tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
  cursor: pointer;
}

thead tr {
  background-color: #007bff;
}


@media (max-width: 480px) {

  tbody td:nth-child(1) {
    background-color: #007bff;
  }

  .weather-table th {
    display: block;
  }

  .weather-table td {
    display: block;
  }

  .weather-table tr {
    display: block;
    margin-bottom: 10px;

  }
}